.app {
  overflow: hidden;
}

.app {
  height: 100%;
  background: #000810;
  position: relative;
}

.main-container {
  height: 100%;
}

/*-----default style------*/

.flow-column {
  display: flex;
  flex-direction: column;
}

.flow-row {
  display: flex;
}

.row-center {
  justify-content: center;
  display: flex;
}

.column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
