.nav-section {
  flex: 0 0 auto;
  width: 20vw;
  padding: 2em;
}

.nav-section > * {
  justify-content: flex-end;
}

.nav-brand {
  color: #eee;
  font-size: 2em;
  height: 10%;
  align-items: flex-end;
  justify-content: center;
}

.nav-brand a {
  padding: 0.11em;
  border: 0.05em solid #eee;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 80%;
  justify-content: center;
}

.nav-link {
  color: #eee;
  border: none !important;
  padding: 10px 0;
  text-align: end;
  font-size: 1.1em;
}

.nav-link:hover {
  color: #f9f980;
  border: none;
  font-weight: 600;
}

.social-links {
  height: 10%;
}

.social-links a {
  padding-left: 4px;
  font-size: 1.8em;
}
